<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Hello!</h3>
      <div class="">
        <form method="dialog">
            <div class="flex flex-col pt-4">
                <input
                  formControlName="name"
                  id="name"
                  type="text"
                  class="w-full border-gray-300 bg-white py-2 px-4 text-base placeholder-gray-400 focus:outline-none"
                  placeholder="Name"
                />
            </div>
              <!-- Category -->
            <div class="flex flex-col pt-4">
                <select
                id="category"
                class="w-full bg-gray-100 text-gray-800 text-sm px-4 py-3.5 rounded-md focus:outline-none"
                >
                <option value="" disabled selected>Choose category</option>
                <option value="SEA">SEA</option>
                <option value="BIG-GAME">BIG GAME</option>
                <option value="BIRD">BIRD</option>
                </select>
            </div>

            <!-- Minimum Weight -->
            <div class="flex flex-col pt-4">
                <input
                id="minimumWeight"
                type="number"
                class="w-full border-gray-300 bg-white py-2 px-4 text-base placeholder-gray-400 focus:outline-none"
                placeholder="Minimum Weight"
                />
            </div>

            <!-- Difficulty -->
            <div class="flex flex-col pt-4">
                <select
                id="difficulty"
                class="w-full bg-gray-100 text-gray-800 text-sm px-4 py-3.5 rounded-md focus:outline-none"
                >
                <option value="" disabled selected>Choose difficulty</option>
                <option value="COMMON">COMMON</option>
                <option value="RARE">RARE</option>
                <option value="EPIC">EPIC</option>
                <option value="LEGENDARY">LEGENDARY</option>
                </select>
            </div>

            <!-- Points -->
            <div class="flex flex-col pt-4">
                <input
                id="points"
                type="number"
                class="w-full border-gray-300 bg-white py-2 px-4 text-base placeholder-gray-400 focus:outline-none"
                placeholder="Points"
                />
            </div>
            <div class="modal-action">
                <button class="btn">Close</button>
            </div>
        </form>
      </div>
    </div>
  </dialog>